:root{
    --borders: 1vh solid rgb(100,100,00)
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* TYPE SELECTORS */

body{
    height:100vh;
    display:flex;
    flex-flow: column;
/*     justify-content: center; */
/*     margin: 1em; */
    border:var(--borders);
}

header{
    padding: 0.5em;
    border-bottom:var(--borders);
    color: white;
    background-color: olive;
    height: 20vh;
}

main{
    height: 80vh;
    overflow-y:scroll;
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-around; */
}

footer{
    display: flex;
    justify-self: flex-end;
    height: 20vh;
    background-color: olive;
    border-top: var(--borders);
}

section{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em;
    border-radius: 0.3em;
    min-height:30vh;
    width: 80vw;
    border: var(--borders);
}

/* CLASS SELECTORS */

.title{
    font-size:2em;
    text-align:center;
}

/* ANSWER BUTTON BUTTON WORK-AROUND */
input[type="checkbox"]{
    display: none;
}

#answer{
    display: none;
}

input[type="checkbox"] + label:after{
    content: "Show Answer";
}

input[type="checkbox"]:checked + label:after{
    content: "Hide Answer";
}

input[type="checkbox"]:checked + label + #answer{
    display:block;
}
/* END OF WORK-AROUND */