:root{
    --border-color: rgb(100,100,00)
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* TYPE SELECTORS */

body{
    display:flex;
    flex-flow: column;
/*     justify-content: center; */
/*     margin: 1em; */
    border: 1em solid var(--border-color);
}

header{
    flex-grow: 1;
}

main{
    height: 100vh;
    overflow-y:scroll;
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-around; */
}

footer{
    display: flex;
    justify-self: flex-end;
    height: 10vh;
    background-color: olive;
    border-top: 1em solid var(--border-color);
}

section{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em;
    border-radius: 0.3em;
    min-height:30vh;
    width: 80vw;
    border: 0.1em solid var(--border-color);
}

/* CLASS SELECTORS */

.title{
    font-size:2em;
    text-align:center;

    padding: 0.5em;
    border-bottom: 0.5em solid var(--border-color);
    color: white;
    background-color: olive;
}